    <p>
    <strong><%= @list.name %></strong>
    </p>
<div style="text-align: center; ">
        <h3> The movies </h3>
        <ul>
       <div>
        <%  @list.bookmarks.each do |bookmark|%>
        <div style="margin: 5px;">
          <p>- <%= bookmark.movie.title %></p>
          <%= image_tag bookmark.movie.poster_url, height: '100', width: '120' %>
          <p><%= bookmark.comment %><p>
          <% if bookmark.photo.attached? %>
          <%= cl_image_tag bookmark.photo.key, height: 80, width: 100, crop: :fill %>
          <% end %>
          <%= link_to 'Delete this movie', delete_bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"},  style: 'color:#FF0000; text-decoration: none;' %>
        </div>
        <% end %>
       </div>
        </ul>

</div>
